table {
	width: 100%;
}
table .mat-mdc-form-field {
	font-size: 14px;
	width: 100%;
}
table .mat-mdc-row .mat-mdc-cell {
	border-bottom: 1px solid transparent;
	border-top: 1px solid transparent;
	cursor: pointer;
}
table .mat-mdc-row:hover .mat-mdc-cell {
	border-color: currentColor;
}
table .mat-mdc-no-data-row {
    margin: 1rem;
    display: inline-block;
}
tr.is-clicked {
	font-weight: bold;
}
table .mat-mdc-header-row{
	background-color: #3F51B5;
}
table .mat-sort-header{
	color: #fff;
}