<section>
	<header>
		<aside>
			<mat-checkbox class="filtre" (change)="onUpdateFiltre()" [(ngModel)]="filtre">Seulement les assignements rendus ?</mat-checkbox>
			<button class="ajouterBtn" mat-flat-button color="accent" (click)="onAddAssignmentBtnClick()" *ngIf="isLogged">Nouveau assignement</button>
		</aside>
	</header>
	<app-add-assignment *ngIf="formVisible"></app-add-assignment>
	<section class="mat-elevation-z8">
		<table mat-table [dataSource]="dataSource" matSort>
			<ng-container matColumnDef="name">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>Nom</th>
				<td mat-cell *matCellDef="let row">{{row.nom}}</td>
			</ng-container>
			<ng-container matColumnDef="course">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>Matière</th>
				<td mat-cell *matCellDef="let row">{{row._course}}</td>
			</ng-container>
			<ng-container matColumnDef="date">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
				<td mat-cell *matCellDef="let row">{{row.dateDeRendu | date:'dd/MM/yyyy'}}</td>
			</ng-container>
			<ng-container matColumnDef="author">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>Créateur</th>
				<td mat-cell *matCellDef="let row">{{row.auteur}}</td>
			</ng-container>
			<ng-container matColumnDef="note">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>Note</th>
				<td mat-cell *matCellDef="let row">{{row.note}}</td>
			</ng-container>
			<ng-container matColumnDef="rendu">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>Rendu</th>
				<td mat-cell *matCellDef="let row">{{row.rendu ? "Oui" : "Non"}}</td>
			</ng-container>
			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr mat-row (click)="clickedRows.clear(); clickedRows.add(row);" [class.is-clicked]="clickedRows.has(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
			<tr class="mat-row" *matNoDataRow>
				<td class="mat-cell" colspan="4">Pas de données</td>
			</tr>
		</table>

		<mat-paginator [pageSizeOptions]="[10, 30, 50, 100]" showFirstLastButtons aria-label="Résultats"></mat-paginator>
	</section>
	<section>
		<app-assignment-detail *ngFor="let clickedRow of clickedRows" [assignmentTransmis]="clickedRow"></app-assignment-detail>
	</section>
</section>