<mat-card class="assignmentDetail" *ngIf="assignmentTransmis">
	<mat-card-header>
		<mat-card-subtitle>{{assignmentTransmis.auteur}}</mat-card-subtitle>
		<mat-card-subtitle>{{profNom}}</mat-card-subtitle>
		<img mat-card-sm-image src={{profImage}} >
	</mat-card-header>
	<mat-card-actions>
		<nav>
			<a routerLink="/assignment/{{assignmentTransmis.id}}/edit">
				<button mat-stroked-button color="primary" type="submit" [disabled]="!isAdmin">Modifier</button>
			</a>
		</nav>
		<button mat-flat-button color="warn" (click)="onDelete()" [disabled]="!isAdmin">Supprimer</button>
		<mat-checkbox *ngIf="!assignmentTransmis.rendu" (click)="onAssignmentRendu()" [disabled]="!isLogged || !assignmentTransmis.note">Rendu ?</mat-checkbox>
	</mat-card-actions>
	<mat-card-content>
		<p>{{assignmentTransmis.remarque}}</p>
		<mat-card-subtitle *ngIf="assignmentTransmis.note">{{assignmentTransmis.note}}/20</mat-card-subtitle>
	</mat-card-content>
</mat-card>