<main>
	<header>
		<section>
			<div class="btnConnexion">
				<button class="ajouterBtn" mat-flat-button color="primary" (click)="showLogin()" *ngIf="!loginVisible && !isLogged">Connexion</button>
				<button class="ajouterBtn" mat-flat-button color="primary" (click)="logout()" *ngIf="isLogged">Déconnexion</button>
			</div>
		</section>
		<section *ngIf="loginVisible">
			<mat-form-field appearance="fill">
				<mat-label>Email</mat-label>

				<input matInput [(ngModel)]="mail" required>
			</mat-form-field>
			<mat-form-field appearance="fill">
				<mat-label>Password</mat-label>
				<input matInput [(ngModel)]="mot_de_passe" [type]="hide ? 'password' : 'text'" required>
				<button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
					<mat-icon>{{hide ? "visibility_off" : "visibility"}}</mat-icon>
				</button>
			</mat-form-field>
			<button class="ajouterBtn" mat-flat-button color="accent" (click)="login()">Connexion</button>
		</section>
	</header>
	<router-outlet></router-outlet>
</main>