<main>
	<header>
		<section>
			<a routerLink="/home">
				<mat-icon aria-hidden="false" fontIcon="home"></mat-icon>
				<h1>{{title}}</h1>
			</a>
			<div class="btnConnexion">
				<button class="ajouterBtn" mat-flat-button color="primary" (click)="showLogin()" *ngIf="!loginVisible && !isLogged">Se connecter</button>
				<button class="ajouterBtn" mat-flat-button color="primary" (click)="logout()" *ngIf="isLogged">Se déconnecter</button>
			</div>
		</section>
		<section *ngIf="loginVisible">
			<mat-form-field appearance="fill">
				<mat-label>Entrer votre adresse électronique</mat-label>

				<input matInput [(ngModel)]="mail" required>

				<mat-error *ngIf="validator.invalid">{{getErrorMessage()}}</mat-error>
			</mat-form-field>
			<mat-form-field appearance="fill">
				<mat-label>Entrer votre mot de passe</mat-label>

				<input matInput [(ngModel)]="mot_de_passe" [type]="hide ? 'password' : 'text'" required>

				<mat-error *ngIf="validator.invalid">{{getErrorMessage()}}</mat-error>

				<button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
					<mat-icon>{{hide ? "visibility_off" : "visibility"}}</mat-icon>
				</button>
			</mat-form-field>
			<button class="ajouterBtn" mat-flat-button color="accent" (click)="login()">Se connecter</button>
		</section>
	</header>
	<router-outlet></router-outlet>
</main>